body {
  background-color: #37003c;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #28002e;
  padding: 1rem;
}

.logo {
  width: 80px;
  border-radius: 8px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  margin: 0.5rem 0;
}

section#teamInfo {
  padding: 1rem;
}

button {
  background-color: #39ff14;
  border: none;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 6px;
}
